<h2>List of Scientists</h2>

<ul>
  {{#each model.scientists as |scientist|}}
    <li>{{scientist}}</li>
  {{/each}}
  {{#each model as |goombahhead|}}
    <li>{{goombahhead}} is stupid</li>
  {{/each}}
</ul>

{{outlet}}
